---
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Subtle Edge</title>
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="icon" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="icon" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" sizes="96x96" href="/favicon-96x96.png" />
    </head>
    <body>
        <div class="container">
            <img
                src="/assets/images/mascot.png"
                alt="Subtle Edge Mascot"
                class="mascot"
            />
            <img
                src="/assets/images/logo.png"
                alt="Subtle Edge Logo"
                class="logo"
            />
        </div>
        <div class="email-container">
            <span class="email-part">sayhello</span
            ><span class="email-part">@</span
            ><span class="email-part">subtleedge</span
            ><span class="email-part">.com</span>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var parts = document.querySelectorAll(".email-part");
            var email = "";
            parts.forEach(function (part) {
                email += part.textContent;
                part.style.display = "inline";
            });
            var container = document.querySelector(".email-container");
            container.innerHTML =
                '<a href="mailto:' + email + '">' + email + "</a>";
        });
    </script>
</html>
