---
---

<!doctype html>
<html lang="en">
    <head>
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-NMHTKXWW0F"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-NMHTKXWW0F");
        </script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Subtle Edge</title>
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/assets/images/favicon-16x16.ico"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/assets/images/favicon-32x32.ico"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="64x64"
            href="/assets/images/favicon-64x64.ico"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="/assets/images/favicon-96x96.ico"
        />
        <link rel="icon" href="/assets/images/favicon.ico" />
    </head>
    <body>
        <div class="container">
            <img
                src="/assets/images/mascot.png"
                alt="Subtle Edge Mascot"
                class="mascot"
            />
            <img
                src="/assets/images/logo.png"
                alt="Subtle Edge Logo"
                class="logo"
            />
        </div>
        <div class="email-container">
            <span class="email-part">sayhello</span
            ><span class="email-part">@</span
            ><span class="email-part">subtleedge</span
            ><span class="email-part">.com</span>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var parts = document.querySelectorAll(".email-part");
            var email = "";
            parts.forEach(function (part) {
                email += part.textContent;
                part.style.display = "inline";
            });
            var container = document.querySelector(".email-container");
            container.innerHTML =
                '<a href="mailto:' + email + '">' + email + "</a>";
        });
    </script>
</html>
